@import 'reset';

:root {
    font-size: 14px;

    @media (max-width: 630px) {
        font-size: 11.4px;
    }

}

body {
    background-color: #a8a8a8;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.header {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.4rem;

    &__item {
        padding: 8px 15px;
        border: 1px solid #000;
    }

    &__title {
        padding: 8px 15px;
    }
}


.game-place {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 0;

    &__squares {
        width: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }

    &__square {
        width: 25px;
        height: 25px;
        margin: 10px;

        border: 1px solid #000;

        &--active {
            background-color: #29ba50;
        }
    }
}

.navigation {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button {
    padding: 15px 25px;
    margin: 15px 25px;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
}